@import url('https://fonts.googleapis.com/css2?family=Digital-7&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: black ;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:fit-content;
  width: auto;
  gap: 5px;
  border: 10px solid white;
  border-radius: 20px;
  padding: 20px;
}

.display{
  background-color: hsl(180, 41%, 82%);
  height: 80px;
  width: 100%;
  color: black;
  font-size: 60px;
  font-weight: bold;
  text-align: right;
  font-family: 'Digital-7', sans-serif;
}

.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button{
  font-size: 50px;
  font-weight: bold;
  padding: 20px 20px;
  flex: 1;
  width: 80px;
}

